.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.loading {
    width: 80px !important;
    height: 80px !important;
}

.loading-container h2 {
    margin-top: 2rem;
    color: #555;
    font-size: 1.8rem;
    padding-left: 2rem;
}