.notes-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.notebook-description {
  margin-top: 1rem;
  font-size: 1.2rem;

}

.notes-header-container {
    display: flex;
    margin-top: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}


.notes-list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 2rem;
  width: 100%;
  padding: 20px;
}